<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v6.2.1/css/all.css"
/>

<div class="text-white mx-auto">
  <div class="mx-auto overflow-hidden overflow-x-hidden py-2 relative">
    <div class="w-full justify-between grid">
      <div
        class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-r"
      >
      </div>
      <div
        class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto"
      >
      </div>
    </div>

    <div
      class="flex items-center animate-marquee font-black font-display gap-4 relative tracking-widest uppercase whitespace-nowrap"
    >
      PYTHON
      <span class="hidden lg:inline">//</span>
      PANDAS
      <span class="hidden lg:inline">//</span>
      NUMPY
      <span class="hidden lg:inline">//</span>
      MATPLOTLIB
      <span class="hidden lg:inline">//</span>
      TENSORFLOW
      <span class="hidden lg:inline">//</span>
      LARGE LANGUAGE MODELS
      <span class="hidden lg:inline">//</span>
      RAG
      <span class="hidden lg:inline">//</span>
      LLAMAINDEX
      <span class="hidden lg:inline">//</span>
      PYTHON
      <span class="hidden lg:inline">//</span>
      PANDAS
      <span class="hidden lg:inline">//</span>
      NUMPY
      <span class="hidden lg:inline">//</span>
      MATPLOTLIB
      <span class="hidden lg:inline">//</span>
      TENSORFLOW
      <span class="hidden lg:inline">//</span>
      LARGE LANGUAGE MODELS
      <span class="hidden lg:inline">//</span>
      RAG
      <span class="hidden lg:inline">//</span>
      LLAMAINDEX
      <span class="hidden lg:inline">//</span>
    </div>
  </div>
</div>
