<footer class="border-white/20 border-b bg-accent-500">
  <div class="mx-auto border-white/20 border-x max-w-7xl">
    <div class="mx-auto p-8 items-start justify-between w-full">
      <div class="text-white text-center items-center mx-auto">
        <p class="uppercase font-display text-2xl">Connect with me</p>
        <div class="container">
          <div class="text"></div>
        </div>

        <br />
        <a href="mailto:salvatoredanilopalumbo@gmail.com" class="link-spacing"
          ><p id="mail" class="far fa-envelope uppercase font-display text-5xl">
          </p></a
        >
        <a href="https://github.com/dSupertramp" class="link-spacing"
          ><p id="github" class="fab fa-github uppercase font-display text-5xl">
          </p></a
        >
        <a
          href="https://www.linkedin.com/in/salvatore-danilo-palumbo-1616ab169/"
          class="link-spacing"
          ><p
            id="linkedin"
            class="fab fa-linkedin uppercase font-display text-5xl"
          >
          </p></a
        >
        <a
          href="https://it.quora.com/profile/Danilo-Palumbo"
          class="link-spacing"
          ><p id="quora" class="fab fa-quora uppercase font-display text-5xl">
          </p></a
        >
        <a
          href="https://stackoverflow.com/users/9654131/salvatore-danilo-palumbo"
          class="link-spacing"
          ><p
            id="stackoverflow"
            class="fab fa-stack-overflow uppercase font-display text-5xl"
          >
          </p></a
        >
      </div>
    </div>
  </div>
</footer>
